<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Money_Tracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
  </system.web>
  <applicationSettings>
    <Money_Tracker.Properties.Settings>
      <setting name="User_Cols" serializeAs="String">
        <value>Id|Name|Email|Password|Type|Country</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=.;Initial Catalog=MoneyManagenent;Integrated Security=True</value>
      </setting>
      <setting name="InsertUser" serializeAs="String">
        <value>INSERT INTO [dbo].[User]
           ([Name]
           ,[Email]
           ,[Password]
           ,[Type]
           ,[Country])
     VALUES
           (Name=@Name
           ,Email=@Email
           ,Password=@Password
           ,Type=@Type
           ,Country=@Country)</value>
      </setting>
      <setting name="Category_Cols" serializeAs="String">
        <value>Id|Name|Type</value>
      </setting>
      <setting name="Category_INSERT" serializeAs="String">
        <value>INSERT INTO [Category] VALUES ([Name],[Type])</value>
      </setting>
      <setting name="Category_DELETE" serializeAs="String">
        <value>DELETE FROM [Category] WHERE Id=@Id</value>
      </setting>
      <setting name="Expense_Cols" serializeAs="String">
        <value>User_Id|Expense|Date|Category_Id</value>
      </setting>
      <setting name="Expense_INSERT" serializeAs="String">
        <value>INSERT INTO [Expense] VALUES ([User_Id],[Expense],[Date],[Category_Id])</value>
      </setting>
      <setting name="Income_Cols" serializeAs="String">
        <value>User_Id|Expense|Date|Category_Id</value>
      </setting>
      <setting name="Income_INSERT" serializeAs="String">
        <value>INSERT INTO [Income] VALUES ([User_Id],[Expense],[Date],[Category_Id])</value>
      </setting>
      <setting name="UpdateUser" serializeAs="String">
        <value>UPDATE [dbo].[User]
   SET [Name] = @Name
      ,[Email] = @Email
      ,[Password] = @Password
      ,[Type] = @Type
      ,[Country] = @Country
 WHERE Id=@Id</value>
      </setting>
      <setting name="DeleteUser" serializeAs="String">
        <value>DELETE FROM [dbo].[User]
      WHERE Id=@Id</value>
      </setting>
      <setting name="InsertCountry" serializeAs="String">
        <value>INSERT INTO [dbo].[Country]
           ([Name]
           ,[Currency])
     VALUES
           (Name=@Name
           ,Currency=@Currency)</value>
      </setting>
      <setting name="UpdateCountry" serializeAs="String">
        <value>UPDATE [dbo].[Country]
   SET [Name] = @Name
      ,[Currency] = @Currency
 WHERE Id=@Id</value>
      </setting>
      <setting name="DeleteCountry" serializeAs="String">
        <value>DELETE FROM [dbo].[Country]
      WHERE Id=@Id</value>
      </setting>
      <setting name="Country_Cols" serializeAs="String">
        <value>Id|Name|</value>
      </setting>
      <setting name="Balance_cols" serializeAs="String">
        <value>User_id|Date|Expense|Income|Balance</value>
      </setting>
      <setting name="InsertBalance" serializeAs="String">
        <value/>
      </setting>
      <setting name="Country_SELECT" serializeAs="String">
        <value>SELECT [Id],[Name] FROM [Country]</value>
      </setting>
      <setting name="User_INSERT" serializeAs="String">
        <value>INSERT INTO [User] ([Name],[Gender],[Email],[Password],[Type],[Country]) VALUES (@Name,@Gender,@Email,@Password,@Type,@Country)</value>
      </setting>
    </Money_Tracker.Properties.Settings>
  </applicationSettings>
</configuration>